@charset "utf-8";
/* 확장자 css는 html와 다르다 */
/* 첫번째방
-height/ min-height
-reset : body(margin)
두번째방
-height/min-height : 100%,inherit
-박스를 정렬: width 고정 ->margin left/right/ center
- margin/ padding/ border

세번째방
-floating.clear-fix */
/* ------reset------------------------ */
body{/* #을 붙이지 않는 경우 무엇이라고 해석해야 해??? */
   margin: 0px;
}

h1{
   margin: 0px;
}

ul{
   padding: 0px;
   margin: 0px;	
}

li{
   margin: 0px;
   display: block;
}

a{
	text-decoration: none;
	color: inherit;
}

/* -----abstract style------------------------------------------------ */

/*------component----------------------------------------------------  */
.btn{
	
}

.btn-default{
	background: #759d2a;
	color: #ffffff;
	min-weight:71px;
	display:inline-block;
	text-align:center;
	padding: 3px 8px;
	border-radius: 4px;
}

.btn-warning{
	
}

.btn-cancer{
	
}


/* ------------------------------------------------------------------  */

.hor-menu{
	display: inline-block;
}
	.hor-menu > h1{
	display: none;
	}
	
	.hor-menu > ul{
		/* border:1px solid blue; */
		overflow: auto;
	}
	
		/* 하위버전과의 호환성 */
		.hor-menu > ul > li{
		float : left;/* 좌로정렬 */
		}
		
		.hor-menu.first-pad-none > ul > li.first-child{
		padding-left: 0px !important;
		background: none !important;
		}



/* fieldset{
	margin: 0px;
	border: 0px;
	padding: 0px;
}

legend{
	padding: 0px;
} */

/* -----------------------header------------------------------------- */
#header{
   height: 70px;
}

	.main-menu{
	/* border: 1px solid red; */
	font-family: "맑은고딕", "고딕", "sans-serit";
	font-size: 15px;
	font-weight: bold;
	color:#000000;
	}
	
	
	/* 하위버전과의 호환성 */
	.main-menu > ul > li{
	padding-left: 24px;
	background: url("../images/bg-main-menu-vsp.png") no-repeat 13px center;
	/* float : left; *//* 좌로정렬 */
	}
	
	 
	 /* ------------------------------------------------------- */
	 
	.member-menu{
		font-family: "맑은고딕", "고딕", "sans-serit";
		font-size: 10px;
		font-weight: bold;
	}
	
	
		.member-menu > ul > li{
		padding-left: 9px;
		background: url("../images/bg-member-menu-sp.png") no-repeat 4px center;
		
		}
		
	

/* ------------------------visual------------------------------------- */
#visual{
    height: 171px;
    border-top:3px solid #8CBA34;
    /*배경색 옆에*/
	/*background: #313131 url("../images/bg-visual.png") no-repeat center;
	border-top: 3px solid #8CBA34; */
/* 경계선의 간격과 색 */
}

#body{
   min-height: 300px;
   border-top: 5px solid #8CBA34;
}

#footer{
   height: 100px;
   background: #313131;
}
/* 루트 컨테이너 의미 */
.root-container{/* 루트 컨테이너가 지정된 영역의 특성을 정의한다. */
   height: 100%;
   min-height: inherit;
   /* height: inherit; */
   width:  960px;
   /* 투명도 opacity: 0.5 */

   /*가운데 정렬방식 */
   margin-left: auto;
   margin-right: auto;
}

#body > .root-container{/* 바디 안에 있는 루트 컨테이너 영역을 css하겠다. */

   display: flex;
   flex-direction: row;
   background: url("../images/bg-body.png") repeat-y center;/* 배경은 하나만 넣을 수 있다. */
}

/*  aside main 스타일 설정 */
#aside{
   min-height: inherit;
   /* 너비고정(flex 사용시) */
   min-width: 205px;
   /* float: left; */
   background: url("../images/bg-aside-title.png") no-repeat left top;
}

#main{
   box-sizing: border-box;
   min-height: inherit;
   /*너비고정(flex 사용시)*/
   min-width: 720px;
   padding: 45px 0px 40px 35px; /*4회 px 입력하면 위에서 부터 시계방향으로 적용된다.*/
   /*float: left;*/
}

#main > section > h1{/* body의 main > section > h1 영역을 css하겠다.*/
	
	border:1px solid red;
	width: 100px;
	height: 100px;
	background: url("../images/logo.png") no-repeat left top;
	background-attachment: local;
	/*local은 박스 내부에 고정,fixed스크린 화면으로 고정된다. */
	overflow: scroll;
}

/* .clear-fix{ } */

/* ::after <- 가상의 영역 생성
         기본형식 */
        
  /* body에 지정한(visual 제외) clear-fix에 대한 참조 정의 */
.clear-fix::after{
   content: "clear-fix";
   display: block;
   clear: both;
   height: 0px;
   border: 1px solid red;
   overflow: hidden;
}